on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

name: Android

jobs:
  build-and-test:
    name: Build and test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v3
      - name: Set up JDK 11
        uses: actions/setup-java@v3
        with:
          java-version: "11"
          distribution: "temurin"
          cache: gradle
      - name: Build (debug) with Gradle
        run: ./gradlew assembleDebug
      - name: Unit tests
        run: ./gradlew test
      - name: Build (release) with Gradle
        run: ./gradlew assembleRelease
